= content_for :header do
  %p.buttons=link_to t('shoppe.discounts.new_discount'), :new_discount, :class => 'button green'
  %h2{style: "background-image: url(#{asset_url('shoppe/icons/wallet.svg')})"}= t('shoppe.discounts.discounts')
= render 'table', discounts: @discounts
